body {font-family:verdana, arial;}
body {background-color:#1F1F1F;}
#hd1 {
    color:rgb(15, 156, 199);
    justify-content: center;
    display: flex;
    align-items: center;
}
#li1 {
    color:red;
    list-style: none;
    padding: 0px;
}
#zdj {
    max-width: 100%; 
    height: auto; 
    display: flex;
    margin: auto;
    justify-content: center;
}
#se1 {
    padding: 10px 60px 20px 60px
}

#linkstr2 {
    color: gray;
    text-decoration: none;
    border: 2px solid rgb(255, 0, 0);
    display: inline-flex;
    justify-content: center;
    padding: 1px;
    position: absolute;
    left: 25%;
    right: 25%;
    width: 200px;
    margin: auto;
}


#button {
    font-size: 50px;
    background-color: blueviolet;
    border-radius: 15px;
}

#he1{
    border: #c1e911 outset 6px;
    background-color: #0091969d;
    color: yellowgreen;
    border-radius: 10px;
}

#ico{
    width: 210px;
    float: left;
    margin-right: 10px;
}

#p1{
    color: rebeccapurple;
    font-size: 20px;
}
