body {font-family:Arial;}
body {background-color:#1F1F1F;}
h1 {
    color:rgb(15, 156, 199);
    justify-content: center;
    display: flex;
    align-items: center;
}
li {color:red;}
img {
    width: 650px; 
    height: auto; 
    padding: 10px;
    display: flex;
    margin: auto;
}
