body {font-family:Arial;}
body {background-color:#1F1F1F;}
.hd1 {
    color:rgb(15, 156, 199);
    justify-content: center;
    display: flex;
    align-items: center;
}
.li1 {
    color:red;
    list-style: none;
    padding: 0px;
}
.zdj {
    max-width: 100%; 
    height: auto; 
    display: flex;
    margin: auto;
    justify-content: center;
}
.se1 {
    padding: 10px 60px 20px 60px
}

.linkstr2 {
    color: gray;
    text-decoration: none;
    border: 2px solid rgb(255, 0, 0);
    display: inline-flex;
    justify-content: center; /* Wyśrodkowanie wertykalne */
    padding: 1px; /* Dodatkowy padding */
    position: absolute; /* Pozycjonowanie absolutne */
    left: 40%;
    right: 40%;
}

